.search {
    padding-top: 7rem;
    // margin-top: 1rem;
    background-color: aliceblue;
    padding-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 5px 5px 30px 20px rgba(0, 0, 0, 0.5);
}
.table img {
    height: 50px;
    width: 50px;
}
td {
    cursor: pointer;
}
